* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

header {
    overflow: hidden;
    height: 500px;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
    outline: none;
}

ul {
    list-style-type: none;
}

#video {
    position: relative;
    width: 100vw;
    object-fit: cover;
    z-index: 1;
}

#overlay {
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 2;
    position: absolute;
    background-image:linear-gradient(170deg, rgb(0,0,0), rgba(0,0,0,0.6), rgba(0,0,0,0));
}

header img {
    height: 150px;
    width: auto;
    z-index: 3;
    position: absolute;
    left: 0;
}

.links-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: end;
    z-index: 3;
    right: 0;
    top: 50px;
    right: 50px;
}

.links-container ul {
    display: flex;
    align-items: center;
    gap: 40px;
    max-width: 300px;
    list-style-type: none;
}

.links-container ul li, .links-container ul li a {
    font-weight: bold;
    color: #8d8d8d;
    font-size: 20px;
}

.links-container ul li a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.links-container ul li a:hover {
    color: #6f6f6f;
}

main {
    background: #efefef;
}

.block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    width: 95%;
    margin: 0 auto;
}

.block > div {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 30px 40px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.5px);
}

footer {
    background-color: bisque;
    text-align: center;
    box-shadow: 0 0 40px rgba(0,0,0,0.2);
}

footer > h1 {
    margin-bottom: 20px;
}

footer > ul {
    display: flex;
    justify-content: space-around;
}

footer > ul > li {

}

footer > ul > li > ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer > ul > li > ul > li {

}

main, footer{
    padding: 80px 40px;
}