* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                #000 url('bg.jpg') repeat-y center/cover;
    background-image: image-set(
        url(bg.webp) type("image/webp"),
        url(bg.jpg) type("image/jpeg")
    );
}



#overzicht {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 13px;
    width: calc(100% - 20px);
    margin: 10px auto 0 auto;
    text-align: center;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(223, 207, 207, 0.25);
    height: 100px;
    width: 100%;
    color: black;
    text-decoration: none;
    border-radius: 16px; 
    font: 500 20px "Roboto", sans-serif;
    transition: 0.3s;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3); 
    backdrop-filter: blur(9.4px); 
    -webkit-backdrop-filter: blur(9.4px); 
}

.item:hover {
    background: rgba(200, 200, 200, 0.35);
    box-shadow: 0 6px 35px rgba(0, 0, 0, 0.5); 
    transform: scale(1.02); 
    backdrop-filter: blur(12px); 
    -webkit-backdrop-filter: blur(12px);
}


@media (max-width: 768px) {
    #overzicht {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    #overzicht {
        grid-template-columns: 1fr;
    }
}
