html {
    background-color: blanchedalmond;
}

body {
    overflow: hidden;
}

#bird-img {
    height: 300px;
}

.pipe {
    display: flex;
    flex-direction: column;
    gap: 150px;
    transform: translate(-50%, -50%);
    top: 50%;
    width: fit-content;
}

#pipe-img-top {
    transform: scaleY(-1);
}

.pipe-img {
    height: 1200px;
}